#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.title-section {
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.pink-rose {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.pink-rose:hover {
  filter: drop-shadow(0 0 2em #ef4a74aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .pink-rose {
    animation: logo-spin infinite 20s linear;
  }
}

.countdown {
  padding: 2em;
}

.read-the-docs {
  font-size: 15px;
  color: #888;

}
